/* Styling to show placement - TO BE REVISED */
#today {
  height: 250px;
  /* background-color: rgb(119, 176, 199); */
}
.card.forecast {
  background-color: rgb(43, 114, 149);
  border: none;
  border-radius: 0;
}

.icon {
  height: 4rem;
  margin-left: 1rem;
}
